In [1]:
import pandas as pd

In [5]:
election_results = pd.read_csv(
    'election_results.csv',
    encoding='latin-1'
)

In [9]:
election_results = election_results[election_results.election.isin(['2015', '2019'])]

In [10]:
election_results

,constituency_id,seats,constituency_name,country/region,electorate,con_votes,con_share,lib_votes,lib_share,lab_votes,lab_share,natSW_votes,natSW_share,oth_votes,oth_share,total_votes,turnout,election,boundary_set,Unnamed: 19
14478,W07000049,1,Aberavon,Wales,49821,3742.0,0.119,1397,0.044,15416,0.489,3663.0,0.116,7305.0,0.232,31523,0.633,2015,2010-2017,NaN
14479,W07000058,1,Aberconwy,Wales,45525,12513.0,0.415,1391,0.046,8514,0.282,3536.0,0.117,4194.0,0.139,30148,0.662,2015,2010-2017,NaN
14480,S14000001,1,Aberdeen North,Scotland,67745,5304.0,0.121,2050,0.047,11397,0.259,24793.0,0.564,392.0,0.009,43936,0.649,2015,2010-2017,NaN
14481,S14000002,1,Aberdeen South,Scotland,68056,11087.0,0.228,2252,0.046,12991,0.268,20221.0,0.416,2000.0,0.041,48551,0.713,2015,2010-2017,NaN
14482,S14000058,1,Aberdeenshire West & Kincardine,Scotland,73445,15916.0,0.288,11812,0.214,2487,0.045,22949.0,0.416,2032.0,0.037,55196,0.752,2015,2010-2017,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16423,E14001059,1,Wythenshawe & Sale East,North West,76313,13459.0,0.301,3111,0.070,23855,0.533,NaN,NaN,4334.0,0.097,44759,0.587,2019,2010-2019,NaN
16424,E14001060,1,Yeovil,South West,82468,34588.0,0.584,18407,0.311,3761,0.063,NaN,NaN,2504.0,0.042,59260,0.719,2019,2010-2019,NaN
16425,W07000041,1,Ynys Mon,Wales,51925,12959.0,0.355,NaN,NaN,10991,0.301,10418.0,0.285,2184.0,0.060,36552,0.704,2019,2010-2019,NaN
16426,E14001061,1,York Central,Yorkshire and The Humber,74899,13767.0,0.278,4149,0.084,27312,0.552,NaN,NaN,4277.0,0.086,49505,0.661,2019,2010-2019,NaN
16427,E14001062,1,York Outer,Yorkshire and The Humber,74673,27324.0,0.494,9992,0.181,17339,0.313,NaN,NaN,692.0,0.013,55347,0.741,2019,2010-2019,NaN

In [88]:
results_2015 = pd.read_excel('election_results.xlsx', sheet_name='2015')
results_2015.columns = results_2015.iloc[0:3].apply(lambda x: '|'.join([str(i) for i in x if not pd.isna(i)]), axis=0)
results_2015 = results_2015.iloc[3:]
results_2015 = results_2015[~results_2015['Results by constituency|id'].isna()]

In [89]:
results_2015 = results_2015[['Results by constituency|id', 'Constituency', 'Electorate', 'Conservative|Votes',
                             'Liberal Democrats|Votes ',
                             'Labour |Votes', 'UKIP|Votes',
                             'Green|Votes', 'SNP|Votes',
                             'Plaid Cymru|Votes', 'DUP|Votes',
                             'Sinn Fein|Votes', 'SDLP|Votes',
                             'UUP|Votes', 'Alliance|Votes',
                             'Other|Votes', 'Total votes', 'Turnout ']]

In [90]:
results_2015.columns = ['id', 'Constituency', 'Electorate', 'Conservative', 'Liberal Democrats',
                        'Labour', 'UKIP', 'Green', 'SNP',
                        'Plaid Cymru', 'DUP', 'Sinn Fein',
                        'SDLP', 'UUP', 'Alliance',
                        'Other', 'Total votes', 'Turnout']

In [91]:
results_2019 = pd.read_excel('election_results.xlsx', sheet_name='2019')
results_2019.columns = results_2019.iloc[0:3].apply(lambda x: '|'.join([str(i) for i in x if not pd.isna(i)]), axis=0)
results_2019 = results_2019.iloc[3:]
results_2019 = results_2019[~results_2019['Results by constituency|ONS id'].isna()]

In [92]:
results_2019 = results_2019[['Results by constituency|ONS id', 'Constituency', 'Electorate',
                             'Conservative Party|Votes', 'Labour|Votes ',
                             'Liberal Democrats|Votes',
                             'Brexit|Votes', 'Green|Votes',
                             'SNP|Votes', 'Plaid Cymru|Votes',
                             'DUP|Votes', 'Sinn Fein|Votes',
                             'SDLP|Votes', 'UUP|Votes',
                             'Alliance|Votes', 'Other|Votes',
                             'Total votes', 'Turnout ']]

In [93]:
results_2019.columns = ['id', 'Constituency', 'Electorate',
                        'Conservative', 'Labour', 'Liberal Democrats', 'Brexit', 'Green', 'SNP', 'Plaid Cymru', 'DUP',
                        'Sinn Fein', 'SDLP', 'UUP', 'Alliance', 'Other', 'Total votes', 'Turnout']

In [109]:
def set_nth_place(row, n):
    try:
        row = row.dropna()
        parties = ['Conservative', 'Labour', 'Liberal Democrats', 'Brexit', 'Green', 'SNP', 'Plaid Cymru', 'DUP',
                   'Sinn Fein', 'SDLP', 'UUP', 'Alliance', 'Other', 'UKIP', ]
        parties = [p for p in parties if p in row.index]
        votes = row[parties]
        votes = votes.sort_values(ascending=False)
        return votes.index[n-1]
    except Exception as e:
        print(e, row)

In [110]:
results_2019['Winner'] = results_2019.apply(set_nth_place, axis=1, args=(1,))
results_2019['Second'] = results_2019.apply(set_nth_place, axis=1, args=(2,))

results_2015['Winner'] = results_2015.apply(set_nth_place, axis=1, args=(1,))
results_2015['Second'] = results_2015.apply(set_nth_place, axis=1, args=(2,))

In [113]:
summary_2015 = results_2015[['id', 'Constituency', 'Winner', 'Second']]
summary_2019 = results_2019[['id', 'Constituency', 'Winner', 'Second']]

In [116]:
results_combined = pd.merge(summary_2015, summary_2019, on='id', suffixes=('_2015', '_2019'))

In [117]:
results_combined = results_combined.rename(columns={'Constituency_2019': 'Constituency'})
results_combined.drop(columns=['Constituency_2015'], inplace=True)

In [122]:
results_combined[(results_combined['Second_2015']=='UKIP')&(results_combined['Winner_2019']=='Conservative')&(results_combined['Winner_2015']=='Labour')]

,id,Winner_2015,Second_2015,Constituency,Winner_2019,Second_2019
45,E14000575,Labour,UKIP,BLYTH VALLEY,Conservative,Labour
217,E14000747,Labour,UKIP,HEYWOOD AND MIDDLETON,Conservative,Labour
373,E14000903,Labour,UKIP,ROTHER VALLEY,Conservative,Labour
442,E14000972,Labour,UKIP,STOKE-ON-TRENT CENTRAL,Conservative,Labour
500,E14001030,Labour,UKIP,WEST BROMWICH WEST,Conservative,Labour

In [125]:
constituencies_where_ukip_beat_conservatives_2015 = results_2015[(results_2015['UKIP']>results_2015['Conservative'])]

In [126]:
constituencies_held_by_conservatives = results_2019[results_2019['Winner']=='Conservative']

In [127]:
constitencies_where_ukip_beat_conservatives_2015[constituencies_where_ukip_beat_conservatives_2015['id'].isin(constituencies_held_by_conservatives['id'])]

,id,Constituency,Electorate,Conservative,Liberal Democrats,Labour,UKIP,Green,SNP,Plaid Cymru,DUP,Sinn Fein,SDLP,UUP,Alliance,Other,Total votes,Turnout,Winner,Second
48,E14000575,BLYTH VALLEY,61247,8346,2265,17813,8584,1453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38461,0.627965,Labour,UKIP
82,E14000609,BURNLEY,64477,5374,11707,14951,6864,850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39746,0.616437,Labour,Liberal Democrats
115,E14000642,CLACTON,68936,16205,812,6364,19642,1184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44207,0.641276,UKIP,Conservative
220,E14000747,HEYWOOD & MIDDLETON,79989,9268,1607,20926,15627,1110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48538,0.606808,Labour,UKIP
364,E14000891,REDCAR,64826,6630,7558,17946,7516,880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,389,40919,0.631213,Labour,Liberal Democrats
376,E14000903,ROTHER VALLEY,74275,10945,1992,20501,13204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,377,47019,0.633039,Labour,UKIP
445,E14000972,STOKE-ON-TRENT CENTRAL,60634,7008,1296,12220,7041,1123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2396,31084,0.51265,Labour,UKIP
503,E14001030,WEST BROMWICH WEST,65524,8365,550,16578,8836,697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35026,0.534552,Labour,UKIP